@font-face {
    font-family: 'digital';
    src: url(../fonts/digital.ttf);
}

#counting  {
	font-family: "digital", arial;
	font-size: 60px;
	font-weight: 600;
	color: #ffffff;
}
.btn-primary {
    background: hsl(253, 64%, 54%);
    border: none;    
}

.btn-primary:hover {
	color: #fff;
	background-color: #7968dbf7;
	border: none;
}
.btn-primary:focus{
    outline: none;
    box-shadow: none;
}
.btn-primary:active{
    outline: none;
    box-shadow: none;
    color: #fff;
	background-color: transparent !important;
	border-color: transparent !important;
}
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #3527b6;
	border-color: #0a53be;
}

#age_result span{
	width: 100px;
	height: 100px;
	background: rgb(20, 179, 67);;
	color: #000;
	padding: 5px 10px;
	font-size: 25px;
	font-weight: 600;
	margin: 0 10px;
	border-radius: 5px;
}
/* Products Box */
#products_add_box, #m_add_box{
	display: none;
}
#add_p_close,#add_m_close {
	font-size: 30px;
	padding: 0;
	margin: 0;
	line-height: 0;
}

/* Member */
.git i, .fb i {
	font-size: 30px;
	margin: 10px 5px;
}



/* ==============
================== */
#output span{
	width: 100px;
	height: 100px;
	background: rgb(20, 179, 67);;
	color: #000;
	padding: 5px 10px;
	font-size: 25px;
	font-weight: 600;
	margin: 0 10px;
	border-radius: 5px;
}
.list-group-item {
	border: 0 !important;
	padding: 0;
}
.social-media {
	text-align: center;
}
.card-img {
	border-bottom: 1px solid #ddd;
}